<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quzi.lesson06.mapper.BookmarkMapper">
 	<!-- insert -->
 	<insert id="insertBookmark" parameterType="map">
 	INSERT INTO `bookmark`
 	(
		 `name`
		, `url`
		, `createdAt`
		, `updatedAt`
 	)
 	VALUES
 	(
 		#{name}
 		, #{url}
 		, NOW()
 		, NOW()
 	)	
 	</insert>
 	
 	<!-- select -->
 	<select id="selectBookmarkList" resultType="com.quzi.lesson06.domain.Bookmark">
 		SELECT
 			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
		 	`bookmark`
 	</select>
 	
 	<!-- quiz02 select -->
 	<select id="isDuplicationByUrl" parameterType="string" resultType="boolean">
 		SELECT
 			COUNT(*)
 		FROM
 			`bookmark`
 		WHERE
 			`url` = #{url}
 	</select>
 	
 	<!-- quiz02_1(재활용 하는 방식) select -->
 	<select id="selectBookmarkListByUrl" parameterType="string" resultType="com.quzi.lesson06.domain.Bookmark">
 		SELECT
 			`id`
			, `name`
			, `url`
			, `createdAt`
			, `updatedAt`
		FROM
		 	`bookmark`
 		WHERE
 			`url` = #{url}
 	</select>
 	
 	<!-- quiz02 delete -->
 	<delete id="deleteBookmarkById" parameterType="int">
 		DELETE
 		FROM
 			`bookmark`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>